@using Models.ViewModels.TenderSearch
@model TenderSearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Tenders";
}

<link rel="stylesheet" href="~/css/TenderSearch.css" />
<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/SearchBar.css"/>
<link rel="stylesheet" href="~/css/Common/Text.css"/>

<form asp-controller="TenderSearch" asp-action="Index" method="get" class="tendersSearchMainContainer">
    <div class="tendersSearchMainSign">
        Tenders:
    </div>
    @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", Model)
    <div class="tendersListContainer">
        @{
            foreach(var m in Model.Tenders)
            {
                <div class="tenderContainer">
                    <div class="tenderName tenderItemBorder">
                        @m.Name
                    </div>
                    <div class="txtGreenCst tenderItemBorder">
                        Price: @m.Cost
                    </div>
                    <div class="tenderDesc tenderItemBorder">
                        @m.Description
                    </div>
                    <div class="tenderCreationDate tenderItemBorder">
                        Created: @m.CreationDate
                    </div>
                    <a href="/tender/@m.Id">
                        Go to tender page
                    </a>
                </div>
            }
        }
    </div>
    <div class="tendersNavigationContainer">
        @await Html.PartialAsync("~/Views/Shared/NavigationButtons.cshtml", Model)
    </div>
</form>