<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
        <header>
            <a href="/">Tenders</a>
            <a href="/offers">My offers</a>
            <a href="/tenders">My tenders</a>
            <a href="/user">Personal cabinet</a>
        </header>
        <main>
        @RenderBody()
        </main>
    </body>
</html>