<!DOCTYPE html>
<html>
    <head>
        <title>Page</title>
        <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            <a href="/tenders">Tenders</a>
            <a href="/user">Personal cabinet</a>
        </header>
        <main>
        @RenderBody()
        </main>
    </body>
</html>