@using Models.ControllerModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewTenderModel
@{
    ViewBag.Title = "New tender";
}

<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />
<link rel="stylesheet" href="~/css/Common/Containers.css" />

<form method="post" asp-controller="UserTender" asp-action="NewTender" class="borderCont gap10 width50p stretch margin30">
    <div class="centerLblBig">
        Create new tender
    </div>
    <label asp-for="Name" class="label">
        Name:
        <input type="text" asp-for="Name" class="input" maxlength="100"/>
        <span asp-validation-for="Name" class="txtRedErr"></span>
    </label>
    <label asp-for="Cost" class="label">
        Cost:
        <input type="number" asp-for="Cost" step="0.01" min="0" class="input" />
        <span asp-validation-for="Cost" class="txtRedErr"></span>
    </label>
    <label asp-for="Description" class="label">
        Description:
        <textarea asp-for="Description" class="input textArea" maxlength="512">
        </textarea>
        <span asp-validation-for="Description" class="txtRedErr"></span>
    </label>
    <div class="btnCntrCont">
        <button type="submit" class="btnGrey">
            Create
        </button>
    </div>
</form>