@using Models.ControllerModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserLoginModel
@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="loginContainer">
    <div class="loginContainerLabel">
        Login
    </div>
    <form method="post" asp-controller="Login" asp-action="Login" class="loginContainerForm">
        <label class="formLabel" asp-for="Email">
            Email:
            <input asp-for="Email" type="email" class="formInput" />
            <span asp-validation-for="Email" class="errorField"></span>
        </label>
        <label class="formLabel" asp-for="Password">
            Password:
            <input asp-for="Password" type="password" class="formInput" />
            <span asp-validation-for="Password" class="errorField"></span>
        </label>
        <div class="formLoginButtonContainer">
            <button type="submit" class="formLoginButton">Login</button>
        </div>
    </form>
    <div class="formLinkContainer">
        <a href="/login/new">Create new account</a>
    </div>
</div>