@using Models.ControllerModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserLoginModel
@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />
<link rel="stylesheet" href="~/css/Common/Containers.css"/>

<div class="borderCont width50p margin30">
    <div class="centerLblBig">
        Login
    </div>
    <form method="post" asp-controller="Login" asp-action="Login" class="formCont">
        <label class="label" asp-for="Email">
            Email:
            <input asp-for="Email" type="email" class="input" />
            <span asp-validation-for="Email" class="txtRedErr"></span>
        </label>
        <label class="label" asp-for="Password">
            Password:
            <input asp-for="Password" type="password" class="input" />
            <span asp-validation-for="Password" class="txtRedErr"></span>
        </label>
        <div class="btnCntrCont">
            <button type="submit" class="btnGrey">Login</button>
        </div>
    </form>
    <div class="linkCont">
        <a href="/login/new">Create new account</a>
    </div>
</div>