.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

.loginContainerLabel {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 30px;
}

.loginContainerForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formLabel {
    flex-direction: column;
    display: flex;
}

.formInput {
    display: flex;
    flex-grow: 1;
}

.formTextarea{
    resize: vertical;
}

.formLoginButtonContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.formLinkContainer {
    display: flex;
    justify-content: center;
    padding: 1em;
}