.cntrTopMrgn{
    margin-top: 50px;
}

.usrTndrsLst{
    width: 90vw;
}

.tenderName {
    display: flex;
    font-size: 28px;
}

.tenderDesc {
    display: flex;
    font-size: 18px;
    min-height: 100px;
    max-height: 100px;
    overflow-wrap: anywhere;
}

.tenderDesc2{
    display:flex;
    flex-direction: column;
}

.tenderCreationDate {
    display: flex;
    font-size: 18px;
}

.tendersPageSign {
    font-size: inherit;
    display: flex;
    padding: 5px;
}