@using Models.ViewModels.UserOffers
@model UserOffersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Offers";
}

<link rel="stylesheet" href="~/css//TenderSearch.css"/>
<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />

<div class="tendersSearchMainContainer">
    <div class="tendersSearchMainSign">
        Your offers:
    </div>
    <div class="tendersListContainer">
        @{
            foreach(var o in Model.Offers)
            {
                <div class="tenderContainer">
                    <div class="txtGreenCst tenderItemBorder">
                        Price: @o.Price
                    </div>
                    <div class="tenderDesc tenderDesc2 tenderItemBorder">
                        Description:
                        <div>
                            @o.Description
                        </div>
                    </div>
                    <div class="tenderCreationDate tenderItemBorder">
                        Creation date: @o.CreationDate
                    </div>
                    <div class="tenderItemBorder">
                        State: @o.State.Name
                    </div>
                </div>
            }
        }
    </div>
    <form method="get" asp-controller="UserOffers" asp-action="Index" class="tendersNavigationContainer">
        @await Html.PartialAsync("~/Views/Shared/NavigationButtons.cshtml", Model)
    </form>
</div>